*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #94c11f;
  --color2: #2d2e83;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.container::after {
  content: "";
  background-image: url("../images/logo1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.request-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  border: none;
  height: 5vh;
  width: 50vw;
  padding: 5vh;
  color: var(--color2);
  font-weight: bolder;
  font-size: 4vh;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.request-chat:active {
  transform: scale(0.95);
  background-color: var(--color2);
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1vh 1vh 2vh black;
  border-radius: 10px;
  padding: 5vh;
}

.chat-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1vw;
  border: none;
  background-color: inherit;
  font-size: 5vh;
  cursor: pointer;
  color: var(--color2);
}

.messages {
  overflow-y: auto;
  /* overflow-y: scroll; */
  width: 50vw;
  height: 50vh;
  /* display: flex; */
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; */
  /* overflow-y: auto; */
  /* flex-grow: 1; */
  /* flex: 1; */
}

.chat-bubble {
  font-weight: bolder;
  font-size: 2vh;
  padding: 3vh;
  border-radius: 50px;
  max-width: 70%;
  margin: 2vh;
}

.chat-bubble-1 {
  background-color: var(--color2);
  color: whitesmoke;
  /* font-weight: bolder;
  font-size: 2vh;
  padding: 3vh;
  border-radius: 50px;
  width: 70%;
  margin: 2vh; */
  float: left;
  clear: both;
}

.chat-bubble-2 {
  background-color: var(--color1);
  color: var(--color2);
  /* font-weight: bolder;
  font-size: 2vh;
  position: relative;
  padding: 3vh;
  border-radius: 50px;
  width: fit-content;
  align-self: flex-end; */
  /* margin: 2vh; */
  float: right;
  clear: both;
}

.text-message {
  display: flex;
  width: 100%;
}

.message {
  background-color: var(--color1);
  opacity: 0.9;
  border: 2px solid var(--color2);
  width: 90%;
  height: 7vh;
  border-radius: 1vh 0 0 1vh;
  outline: none;
  padding: 2vh;
  text-align: left;
  font-size: 3vh;
  font-weight: bolder;
  color: var(--color2);
}

.send {
  border: none;
  background-color: var(--color2);
  color: whitesmoke;
  font-weight: bolder;
  padding: 2vh;
  border-radius: 0 1vh 1vh 0;
  outline: none;
}

.hide {
  display: none;
}